// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
i {
  color: black;
}

i:hover {
  color: grey;
}

.container {
  text-align: center;
}


.banner {
  margin: 4px;
  border-radius: 3px;
  background: #c7cbd1;
}

#task {
  border-radius: 4px;
  margin: 20px;
  border: solid;
  width: 300px;
  height: 250px;
}

#link {
  position: sticky;
  bottom: 4px;
}
